// Place all the styles related to the acls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_groups_container {
  background-color: white;
  border: solid 2px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 20px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: 1000px;
}