.preferences_box {
  background-color: white;
  border: solid 2px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 1.35em;
  margin-top: 1.35em;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
  width: 69.4em;

  h5 {
    margin: .3em
  }
}

.email_preference_option {
  margin-left: 1.2em;
}

#save_preferences {
  margin-left: 52.1em;
}
