.record_review_data {
  border-radius: 10px;
  border: solid 2px;
  margin: 20px auto;
  margin-bottom: 40px;
  padding: 60px;
  font-size: 0.9em;
  background-color: white;


  .outer_flexbox {
      display: -webkit-flex;
      display: flex;
      background-color: white;
      width: 100%;
      margin-bottom: 80px;
  }

  .outer_flex_item_left {
      min-width: 70%;
  }

  .outer_flex_item_right {
      min-width: 30%;

      .review_comments {
        padding-left: 15px;
        padding-right: 15px;

        &__headline {
          font-weight: bold;
        }

        &__subheadline {
          font-size: .8em;
          font-style: italic;
          text-transform: uppercase;
        }
      }

      .single_comment {
        margin-top: 20px;
      }

      .completed_notice {
        margin-top: 15px;
      }
  }

  .comment_update {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: stretch;
    flex-grow: 1;
  }
  .comment_text_label {
    display: flex;
    flex-grow: 1;
  }
  .comment_update_form {
    display: none;
    padding: 5px
  }
  .comment_update_icons {
    width: 50px;
    text-align: center;
    margin-left: 8px;
    margin-top: auto;
    margin-bottom: auto
  }

  .comment_submit_button {
    display: inline-flex;
    align-items: center;
    height: 20px
  }

  .section_header {
    border-bottom: thin solid #d9d9d9;
    width: 97%;
  }

  .section_container {
    border-right: thin solid #d9d9d9;

    .flex_container {
        display: -webkit-flex;
        display: flex;

        background-color: white;
        font-size: 0.7em;
        width: 100%;
    }

    .flex_column {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        width:50%;
    }

    .flex_item {
        width: 90%;
        border-bottom: thin solid #d9d9d9;
    }


  }


}


.bubble {
    display: inline-block;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    /*This is to hold the 2 text content for second opinion*/
    padding: 0 5px;
}

.no_script {
    border: 1px solid #d9d9d9;
    // height: 20px;
    // width: 20px;
}

.script {
    border: 2px solid #000;

}

.hidden_text {
  visibility: hidden;
}

.script_text {
  position: relative;
}

.no_script_text {
    position: relative;
  }


//these are for in the navigation view record#show
.record_bubbles {

  .single_bubble_container {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
  }
  
  .bubble_opinion {
    font-size: 1.1em;
  }

  .script_text {

  }

  .no_script_text {

  }
}

.record_nav {
  height: 75px;
  background-color: #d1cdcd;
  padding-top: 25px;

  .nav_info {
    display: inline-block;
    font-size: 0.7em;
    margin-right: 5%;
    float: right;
  }

  .nav_button {
    border: none;
    display: inline-block;
    float: left;
    background-color: inherit;
    margin-left: 31px;

    .button_symbol {
      display: inline-block;
    }
  }

  .collection_back_button {
    border: none;
    display: inline-block;
    float: left;
    background-color: inherit;
    margin-left: 40px;
  }
}


.record_title {
  padding-top: 25px;
  background-color: #e3e1e1;
  min-height: 75px;

  .title_buttons {
    display: inline-block;
    float: right;
    margin-right: 5%;
    padding-top: 5px;
    padding-bottom: 5px;

    button {
      width: 110px;
      height: 35px;
    }

    .icon_holder {
      font-size: 1.5em;
      position: relative;
      bottom: 1px;
    }

    .icon_text {
      position: relative;
      bottom: 2px;
    }

    .review_nav_button {
      background-color: white;
      border: 1px solid $review-gray-dark;
      width: 125px;
    }

    .icon_spacing {
      width: 5px;
      display: inline-block;
    }
  }

  .complete_buttons {
    margin-right: 47px;
    display: inline-block;
    font-size: 0.9em;
    float: right;
    margin-bottom: 7px;

    .button_to {
      display: inline-block;
    }

    .review_complete_button {
      background-color: #7ab5da;
    }

    .mark_complete_button {
      background-color: #20ce6f;
    }

    .complete_symbol {
      margin-left: 5px;
    }

    button[disabled=disabled], button:disabled {
      background-color: #D1D1D1;
      p {
        color: #DDDDDD;
      }
    }

    button {
      padding: 5px;
      width: auto;
      min-width: 150px;
      text-align: left;

      .button_text {
        display: inline-block;
        text-align: left;
        margin-right: 10px;
      }

      .button_symbol {
        display: inline-block;
        text-align: right;
      }

      :disabled {
        
      }

    }
  }
}

.record_title {
  .nav_details {
    float: left;
    display: inline-block;
    font-size: 0.8em;
    margin-left: 66px;
    margin-top: -15px;
    margin-bottom: 10px;
  }

  .nav_review_details {
    float: left;
    display: inline-block;
    font-size: 0.8em;
    margin-left: 58px;
    margin-top: -15px;
    margin-bottom: 10px;
  }
  .format_links {
    .format_link {
      margin: 0.5em;
      font-weight: 600;
    }
  }
}

.section_display {
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 125px;

  .section_button {
    border: none;
    display: inline-block;
    padding-left: 0px;
    margin-bottom: 5px;
    background-color: inherit;
    font-size: 1.4em;
  }
}


.legend_title {
  font-size: 1.2em;
  font-weight: 600;
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: thin solid #d9d9d9;
  width: 10%;
}

.legend_flexbox {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    .legend_flex_row {
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;      
    }

    .legend_flex_item {
      display: flex;
      align-items: center;
      margin: 0 20px 20px 0;
      min-width: 250px;

      .legend_text {
        display: inline-block;
        padding-left: 5px;
        font-size: 0.8em;
      }
      
      .bubble {
        padding: 0 6px;
      }
    }
}

.copy_prior_revision_note {
  font-size: smaller;
  font-style: italic;
  height: 30px;
}

.review_buttons_row input.eui-btn--disabled {
  opacity: 0.65;
  cursor: not-allowed;
}
