.record_show_box {
  border-radius: 10px;
  border: solid 2px;
  background-color:white;
  width:950px;
  margin: 50px auto;
  padding-left:40px;
  padding-right:40px;
  padding-bottom:40px;

  .space_box {
    height:15px; 
    width:80px;
  }

  .collection_title {
    font-size:0.8em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $gray-dark;
    display: inline-block;

    h3 {
      margin-bottom: 5px;
      margin-top: 5px;
    }

  }

  .left_box {
    margin-right:15px;
  }

  .group_box {
    display: inline-block;
    width:400px;

    h3 {
      font-size:1em;
    }

    h4 {
      color: black;
      font-size: 0.9em;
      margin-top: 0px;
    }

    table {
      font-size: 0.9em;
      margin-bottom: 20px;
    }

    .review_actions {
      .ingest_score {
        font-size: 0.9em;
        padding-left:4px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: $gray-dark;
        background-color: white;
        margin-bottom: 10px;
      }
    }

  }
  
  .no_results {
    text-align: center;
    color: $gray-dark;
  }

  #ingest_replace {
    margin-left: 0.5em;
    background-color: $red;
  }

  #granule_review_link {
    float: left;
  }

}

.indicator_for_granule_deleted_in_cmr {
  color: red;
}
.indicator_for_has_new_granule_revision {
  color: blue;
}
.ingest_new_granule_button {
  display: inline;
}

.edit_collection_in_mmt_link {
  float: right;
  margin-right: 50px;
}




