<button id="curation_home_button" class="header_icon_button">
  <i class="eui-icon eui-fa-globe"></i>
  <p>CURATION HOME</p>
</button>

<script type="text/javascript">
  document.getElementById("curation_home_button").onclick = function() {
    document.location.href = "<%= home_path %>"
  };
</script>