<% path_for_form ||= home_path %>

<% if can?(:access, :filter_daac) %>
  <div class="filter_daac searchbox_area">
    <p><strong>Filter Records by DAAC:</strong></p>
    <%= form_tag(path_for_form, method: "get") do %>
      <%= select_tag(:daac, options_for_select(provider_select_list, selected: params[:daac])) %>
      <%= submit_tag("Filter", class: "selectButton") %>
    <% end %>
  </div>
<% end %>
