<div class="page_header">
  <div class="header_title"> 
    <h3><%= title %></h3>
  </div>
</div>

<nav class="eui-menu" style="position:absolute;top:25px;right:0;">
  <ul>
    <li><a href="#">About</a>
      <ul class="eui-sub-menu">
        <li><a href="#">About Earthdata</a></li>
        <li><a href="#">ESDIS</a></li>
        <li class="has-children"><a href="#">Next Level <i class="eui-icon eui-fa-chevron-circle-down"></i></a>
          <ul class="eui-third-menu">
            <li><a href="#">Option A</a></li>
            <li><a href="#">Option B</a></li>
            <li><a href="#">Option C</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="#">Data</a>
      <ul class="eui-sub-menu">
        <li><a href="#">Option A</a></li>
        <li><a href="#">Option B</a></li>
        <li><a href="#">Option C</a></li>
      </ul>
    </li>
    <li><a href="#">Community</a>
      <ul class="eui-sub-menu">
        <li><a href="#">Mission Statement</a></li>
        <li><a href="#">Organization Chart</a></li>
        <li><a href="#">Earth Science Program</a></li>
      </ul>
    </li>
  </ul>
</nav>