<div class="page_header">
  <div class="header_title"> 
    <% if ENV['SIT_ENV'] == 'true' %> 
      <h3>WELCOME TO THE COMMON METADATA REPOSITORY (CMR) DASHBOARD (SIT Environment)</h3>
    <% else %>
      <h3>WELCOME TO THE COMMON METADATA REPOSITORY (CMR) DASHBOARD</h3>
    <% end %>
  </div>

  <div class="clear_box"></div>
</div>
 
<div class="header_image">
</div>  

<div class="log_in_box">
  <% if devise_mapping.omniauthable? %>
    <% resource_class.omniauth_providers.each do |provider| %>
      <%
        display_name = camelize_str(provider);
        if provider == :urs
          display_name = "Earthdata Login"
        end
      %>
      <%= link_to "Login with #{display_name}", omniauth_authorize_path(resource_name, provider) %><br/>
    <% end %>
  <% end %>
</div>
