<h1>Welcome to the CMR MetaData Dashboard!!</h1>

<%= link_to "Sign up", new_user_registration_path %>
<br>
<%= link_to "Sign in", new_user_session_path %>
<br>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>