# CSS for the confirm dialog box.
.confirm-modal {
  margin-top: 100px;
}

.confirm-yes-button {
  float: left;
}

.confirm-no-button {
  margin: .3em 0;
  padding: .6em;
}

.modal-close {
  float: right;
  margin-top: -1em;
}

.float-r {
  float: right;
}

.is-invisible {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

