/* User information and role 
---------------------------------------*/

  #user-info {
    @include row();
    display: inline-flex;
    margin-left: 70%;
    font-size: 0.8em;
    margin-bottom: 1em;

    .users-guide-link {
      color: white;
      padding: .2em .6em .3em .6em;
      &:hover {
        color: $midnight-blue;
      }
    }
    .prof-link-container {
      background-color: lighten($ocean-blue, 10%);
      padding: .2em .6em .3em .6em;
      border-radius: 5px;
      min-width: 150px;
    }
  
    .eui-badge--sm {
      margin-left: .2em;
    }
  
  }
