body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif !important;
  background-color: $gray-light;
}

p {
  margin: 0px;
}

a,
button {
  &:focus {
    outline: 0;
  }
}

.clearfix {
  clear: both;
}

.notice {

}

.alert {

}

.clear_box {
  clear: both;
}

//overwriting the normal eui menu styles.
.eui-menu.menu_override {
  .menu_link {
    &:hover {
      background-color: $sky-blue;
    }
  }

  .menu_sublink {
    background-color: $blue-dark;
    padding-top:10px;
    min-height: 0px;
  }
}

.header_button {
  color: white;
  display: inline-block;
  background-color: $blue-dark;
  border:none;

  i {
    display: inline-block;
  }
  p {
    display: inline-block;
  }
}

.page_header {
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-between; /* Safari 6.1+ */
  display: flex;
  color: white;

  background-color: $blue-dark;
  width:100%;
  min-height: 80px;
  padding: 1em 2em;
  align-items: center;

  .header_title {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.5px;
    font-weight: 500;
    p {
      position: relative;
      bottom: 1px;
      padding-top: 0px;
      font-size: 11px;
      font-weight: 100;
    }
  }

  .header_menu {
    display: flex;
    flex-direction: column;
  }

  h3 {
    margin: 0px;
  }
}

h1 {
  margin: 0px;
}

table {
  border: 1px solid #323232;
  background: white;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

table th {
  padding: 0.5em;
  border: 1px solid #989898;
  background-color: #cbcbcb;
  text-align: left;
}

tr:nth-child(even) {background: $gray-light}
tr:nth-child(odd) {background: #FFF}

.record_review_text {
  font-size: 0.7em;
  max-height: 150px;
  overflow: auto;
}

.record_review_text {
  font-size: 0.7em;
  max-height: 150px;
  overflow: auto;
}


.processing_modal {
  position: fixed;
  top: 20%;
  left: 40%;
  background-color: $gray-light;
  min-height: 150px;
  min-width: 20%;
  text-align: center;
  padding-top: 20px;
  border: 1px solid;
  line-height: 2.5;
  z-index: z("modal-base");
}

.processing_modal_cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: z("modal-cover");
}



@mixin button_attributes {

  color: white;
  border: 1px solid rgba(50, 50, 50, 0.15);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  transition: background 0.15s ease-in-out;
  outline: none;
  padding: 0.6em;
  margin: 0.3em;

  -webkit-appearance: button;
  cursor: pointer;
}

@mixin normal_button_sizing {
  padding: 0.5em 1em;
  border-radius: 7px;
}

@mixin small_button_sizing {
  font-size: 0.9em;
  border-radius: 5px;
}

@mixin button_disabled {
  &:disabled {
    background-color:$gray-light;
    color: $disabled-gray-light;
  }
}

.selectButton {
  @include button_attributes;
  @include normal_button_sizing;
  @include button_disabled;
  background-color:$green-light;
}

.smallSelectButton {
  @include button_attributes;
  @include small_button_sizing;
  @include button_disabled;
  background-color:$green-light;
}

.deleteButton {
  @include button_attributes;
  @include normal_button_sizing;
  @include button_disabled;
  background-color: $red;
}

.undeleteButton {
  @include button_attributes;
  @include normal_button_sizing;
  @include button_disabled;
  background-color: $blue-dark;
}

.completeButton {
  @include button_attributes;
  @include normal_button_sizing;
  @include button_disabled;
  background-color: $green-light;
}

.reportButton {
  @include button_attributes;
  @include normal_button_sizing;
  @include button_disabled;
  background-color: $blue-dark;
}

.finishedButton {
  @include button_attributes;
  @include normal_button_sizing;
  @include button_disabled;
  background-color: $blue-dark;
}

.refreshButton {
  @include button_attributes;
  @include normal_button_sizing;
  @include button_disabled;
  background-color: $blue-dark;
}

.revertButton {
  @include button_attributes;
  @include normal_button_sizing;
  @include button_disabled;
  background-color: $blue-dark;
}

.cmrUpdateButton {
  @include button_attributes;
  @include normal_button_sizing;
  @include button_disabled;
  background-color: $blue-dark;
}

.flag_green {
  background-color: $review-green;
  color: white;
}

.flag_blue {
  background-color: $review-blue;
  color: white;
}

.flag_yellow {
  background-color: $review-yellow;
  color: black;
}

.flag_red {
  background-color: $review-red;
  color: white;
}

.flag_gray {
  background-color: $review-gray;
  color: white;
}
