/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "variables";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
   font-family: 'Open Sans', sans-serif !important;
   /*padding-left: 20px;*/
   background-color: $gray-light;
}

p {
     margin: 0px;
}

.clearfix {
  clear: both;
}

.notice {

}

.alert {

}

.clear_box {
  clear: both;
}

//overwriting the normal eui menu styles.
.eui-menu.menu_override {
  // position:absolute;
  // top:8px;
  // right:25px;


  .menu_link {
    padding-top:23px;
    min-height: 70px;
    &:hover {
      background-color: $sky-blue;
    }
  }

  .menu_sublink {
    background-color: $blue-dark;
    padding-top:10px;
    min-height: 0px;
  }
}

.header_button {
  color: white;
  display: inline-block;
  background-color: $blue-dark;
  border:none;

  i {
    display: inline-block;
  }
  p {
    display: inline-block;
  }
}

.page_header {
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-between; /* Safari 6.1+ */
  display: flex;
  justify-content: space-between;

  color: white;

  background-color: $blue-dark;
  width:100%;
  min-height: 80px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: white;
  margin-bottom:50px;

  .header_title {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.5px;
    font-weight: 500;
    padding-top: 25px;
    padding-left: 40px;
    p {
      position: relative;
      bottom: 1px;
      padding-top: 0px;
      font-size: 11px;
      font-weight: 100;
    }
  }

  .header_menu {
    margin-top: 9px;
    margin-right: 40px;
  }

  h3 {
    margin: 0px;
  }
} 

.header_image {
  position: absolute;
  z-index: z("default-behind");
  width: 100%;
  top:80px;
  height: 300px;
  background-image: url("/yellow-sea-swirls.jpg");
}



h1 {
  margin: 0px;
}

table {
    border: 1px solid #323232;
    background: white;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

table th {
    padding: 0.5em;
    border: 1px solid #989898;
    background-color: #cbcbcb;
    text-align: left;
}

tr:nth-child(even) {background: $gray-light}
tr:nth-child(odd) {background: #FFF}

.record_review_text {
  font-size: 0.7em;
  max-height: 150px;
  overflow: auto;
}



@mixin button_attributes {
  color: white;
  border: 1px solid rgba(50, 50, 50, 0.15);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  transition: background 0.15s ease-in-out;
  outline: none;

  -webkit-appearance: button;
  cursor: pointer;
}

@mixin normal_button_sizing {
  padding: 0.5em 1em;
}

@mixin small_button_sizing {
  font-size: 0.9em;
}

@mixin button_disabled {
  &:disabled {
    background-color:$gray-light;
    color: $disabled-gray-light;
  }
}



.selectButton {
  @include button_attributes;
  @include normal_button_sizing;
  @include button_disabled;
  background-color:$green-light;
}

.smallSelectButton {
  @include button_attributes;
  @include small_button_sizing;
  @include button_disabled;
  background-color:$green-light;
}

.deleteButton {
  @include button_attributes;
  @include normal_button_sizing;
  @include button_disabled;
  background-color: $red;
}

.reportButton {
  @include button_attributes;
  @include normal_button_sizing;
  @include button_disabled;
  background-color: $blue-dark;
}





