/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
   font-family: 'Open Sans', sans-serif !important;
   /*padding-left: 20px;*/
   background-color: #ebebeb;
}

p {
     margin: 0px;
}


.notice {
  position:absolute;
}

.alert {
  position:absolute;
}

.page_header {
  color: white;
  background-color: #2276ac;
  width:100%;
  height: 80px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: white;
  padding-top: 25px;
  margin-bottom:50px;

  .header_title {
    display: inline-block;
    font-size: 0.6em;
    padding-left: 40px;
  }

  .header_button_box {
    float: right;
    margin-right: 50px;
    font-size: 1em;
    height:30px;
    padding-top:1px;

    .header_icon_button {
      display: inline-block;
      margin-right:20px;
      background-color: #2276ac;
      border:none;

      i {
        margin-top:2px;
        display: inline-block;
      }
      p {
        position:relative;
        bottom: 1px;
        font-size: 0.8em;
        display: inline-block;
      }
    }
  }

  h3 {
    margin: 0px 0px 0px 0px;
  }
} 

.header_image {
  position: absolute;
  z-index: -1;
  width: 100%;
  top:80px;
  height: 300px;
  background-image: url("/yellow-sea-swirls.jpg");
}

.log_in_box {
  background-color:white;
  height:238px;
  width:400px;
  margin: auto;
  padding-left:20px;

  .space_box {
    height:15px; 
    width:80px;
  }

  .box_tab {
    height:40px;
    width: 100px;
    background-color:#20ce6f;
    color:white;
    padding-left:22px;
    padding-top:10px;
  }

  .form_box {
    height:167px;
    width:358px;
    border-width:1px;
    border-style:solid;
    padding-top:10px;
    padding-left:15px;

    input[type=email] {
      width:325px;
    }

    input[type=password] {
      width:325px;
    }

    .form_buttons {
      display: inline-block;
      background-color: white;
      color:white;
      height:55px;
      margin-left: 50px;
      padding-left:3px;

      .remember_button {
        background-color: #2276ac;
        display:inline-block;
        height: 36px;
        position: relative;
        left:50px;
        bottom:0px;
        padding-top: 5px;
        padding-left: 5px;
      }
    }

  }

}

.curation_box {
  background-color:white;
  width:600px;
  margin: auto;
  padding-left:20px;
}

.search_page_box {
  background-color:white;
  width:900px;
  margin: auto;
  padding-left:40px;  

  .space_box {
    height:15px; 
    width:80px;
  }

  select {
    width:150px;
    padding-left:10px;
  }

  .results_box {

    width:645px;
    padding-bottom:30px;
    margin-top: 15px;

    .search_phrase {
      width:320px;
      background-color: #ebebeb;
      display: inline-block;
      padding-left:20px;
      padding-top:3px;
      padding-bottom:3px;
    }

    .total_results {
      width:320px;
      background-color: #ebebeb;
      display: inline-block;
      padding-left:20px;
      padding-top:3px;
      padding-bottom:3px;
    }

    table {
      margin-top: 15px;
      font-size: 0.7em;
    }

    .bottom_row {
      margin-top: 10px;

      .select_collection {
        display: inline-block;
      }
      .direction_links {
        float: right;
        padding-top:6px;

        button {
          height:37px;
          color: white;
          background-color:#2276ac;
          border: none;
          i {
            display: inline-block;
          }
          p{
            display: inline-block;
          }
        }
      }
    }

  }
}


h1 {
  margin:0px;
}

table {
    border: 1px solid #323232;
    /*width: 100%;*/
    background: white;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

table th {
    padding: 0.5em;
    border: 1px solid #989898;
    background-color: #cbcbcb;
    text-align: left;
}

tr:nth-child(even) {background: #ebebeb}
tr:nth-child(odd) {background: #FFF}


input[type=submit] {
    color: white;
    border: 1px solid rgba(50, 50, 50, 0.15);
    background: #2276ac;
    display: inline-block;
    padding: 0.5em 1em;
    text-align: center;
    vertical-align: middle;
    transition: background 0.15s ease-in-out;
    outline: none;
}

input[type=submit]:disabled {
    /*color: white;*/
    border: 1px solid rgba(50, 50, 50, 0.15);
    background: #ebebeb;
    color: #323232;
    opacity: 0.65;
    background: #ebebeb;
}

.record_review_text {
  font-size: 0.7em;
  max-height:150px;
  overflow: auto;
}