@import "variables";

@media print {
    .report_overall {
      page-break-after: always;
    }

    .granule_quality_section {
      page-break-after: always;
    }

    .sub_section_title {
      &:not(:first-child) {
        margin-top: 100px;
      }
    }

    .section_title {
      &:not(:first-child) {
        margin-top: 100px;
      }
    }

    .page_header {
      display: none !important;
    }
    .header_image {
      display: none;
    }
    .report_buttons {
      display: none;
    }
    .title_holder {
      p {
        color: black !important;
        border-color: $report_line;
        border-style: solid;
        border-bottom-style: none;
        border-width: 1px;
      }

    }
    .title_bottom_holder {
      p {
        color: black !important;
      }
    }
    .print_width {
      width: 1000px;
      height: 10px;
    }
    .report_sub_title {
      .title_box {
        color: black !important;
      }
    }
}

.section_holder {
  width:95%;
  border-bottom-color: $report_line;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-top: 25px;
  margin-bottom: 40px;
}


.graph_container{
  display:block;
  width:600px;
}

.velocity_graph_container{
  display:block;
  width:100%;
  height:300px;
}

.doughnut_graph_container {
  display: block;
  width: 250px;
  height: 250px;
}

.updates_graph_container {
  display: block;
  width: 100%;
  height: 240px;
}

.problem_graph_container {
  display: block;
  width: 500px;
  height: 400px;
}

.graph_container_flag{
  display:block;
  width:200px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
}

.flex-item {
    margin: 10px;
}

.reports_box {
  background-color:white;
  width: 90%;
  margin: 50px auto;
  padding: 40px;
  padding-top: 20px;
}

.report_top {
  display: flex;
  min-height: 50px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $gray-dark;
  padding-bottom: 10px;
  .report_drop_down {
    width: 50%;
    p {
      font-size: 14px;
    }
    select {
      width: 150px;
      padding-left:10px;
      height:38px;
    }
  }

  .report_buttons {
    text-align: right;
    width: 50%;
    padding-top: 30px;
  }

  .report_button {
    color: white;
    display: inline-block;
    background-color: #5abdf3;
    border: none;
    padding: 5px;


    i {
      display: inline-block;
    }
    p {
      display: inline-block;
      font-size: 12px;
      font-weight: 600;
    }
  }
}

.report_sub_title {
  min-height: 25px;
  display: flex;

  .title_box {
    text-align: center;
    background-color: $report-gray-dark;
    color: white;
    font-size: 14px;
    max-width: 170px;
    padding: 7px;
  }

  .title_text {
    font-size: 20px;
    font-weight: 700;
    margin-left: 25px;
    margin-top: 5px;
  }

}

.title_holder {
  p {
    display: inline-block;
    text-align: center;
    font-weight: 500;
    background-color: $report-gray-dark;
    color: white;
    font-size: 12px;
    // max-width: 170px;
    padding: 5px;
  }
}

.title_bottom_holder {
  margin-bottom: 10px;
  p {
    position:relative;
    bottom:11px;
    right: 10px;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    background-color: black;
    color: white;
    font-size: 11px;
    // max-width: 170px;
    padding: 5px;
  }
}

.stats_area {
  padding: 25px;

  table {
    :nth-child(1) {
      td {
        background-color: $gray-light
      }
    }
    :nth-child(n+2) {
      td {
        background-color: white;
      }
    }
  }
}

.sub_section_title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}

.section_title {
  font-weight: 600;
  font-size: 25px;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.surrounding_box {
  border-style: solid;
  border-color: $report-line;
  border-width: 1px;
  padding: 10px;
}

.ingest_section {
  display: inline-block;
  margin-bottom: 20px;
}

.single_color_table_holder {
  margin-bottom: 20px;
  width:100%;

  .flag_table {
    tr {
      :nth-child(1) {
        width: 20%;
      }
      :nth-child(2) {
        width: 40%;
      }
      :nth-child(3) {
        width: 40%;
      }
    }
  }
}

.velocity_section {
  display: inline-block;
  margin-bottom: 20px;
  width: 350px;
  margin-right: 20px;
}

.update_section {
  display: inline-block;
  margin-bottom: 20px;
  width: 350px;
}

.selection_section {
  display: inline-block;
  margin-bottom: 20px;
  width: 35%;
  padding-left:15px;
  tr:nth-child(n) {
    background-color: white;
  }
}

.quality_row {
  display: flex;
  margin-bottom: 20px;
  .quality_box {
    margin-right: 20px;
  }

  .data_area {
    display: flex;
    p {
      font-size: 13px;
    }
    .checked_num {
      font-size: 45px;
    }
  }

  .chart_padding {
    padding: 25px;
  }
}

.score_section {
  display: flex;
  margin-bottom: 20px;

  .score_box {
    width:300px;
    margin-right: 20px;
  }
}

.in_process_section {
  width: 600px;
  tr:nth-child(n) {
    background-color: white;
  }
}

.problem_section {
  width: 600px;
}



.legend_area {
  .legend_row {
    display: flex;
  }

  .first_item {
    width: 170px;
  }

  .legend_item {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    .color_box {
      width:15px;
      height:15px;
      margin-right: 10px;
      border-style: solid;
      border-width: 8px;
    }

    .red {
      border-color: #e84a34;
    }

    .blue {
      border-color: #1b75ae;
    }

    .yellow {
      border-color: #ffce00;
    }

    .green {
      border-color: #3ab841;
    }

    p {
      font-size: 11px;
    }
  }
}

.metrics_spacing {
  width: 200px;
  height: 50px;
}

.header_row {
  td {
    font-weight: 600;
  }
}
