@import "variables";

.center_text {
  text-align: center;
}

.table_scroll {
   max-height: 300px; 
   overflow-y: auto;
}

.processing_modal {
  position: absolute;
  top: 20%;
  left: 40%;
  background-color: $gray-light;
  min-height: 150px;
  min-width: 20%;
  text-align: center;
  padding-top: 20px;
  border-style: solid;
  border-width: 1px;
  line-height: 2.5;
  z-index: z("modal-base");
}

.processing_modal_cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: z("modal-cover");
}

.curation_box {
  background-color:white;
  width:1000px;
  margin: auto;
  padding-left:40px;
  padding-right:40px;
  padding-bottom:40px;

  .space_box {
    height:15px; 
    width:80px;
  }

  .searchbox_area {
    font-size: 0.8em;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: $gray-dark;
    padding-bottom: 20px;

    .search_button {
      height:38px;
      width:38px;
      font-size:1.2em;
    }

    select {
      width: 150px;
      padding-left:10px;
      height:38px;
    }  

    button {
      background-color:$green-light;
      border:none;
      color: white;
    } 

    input[type=submit] {
      background-color:$green-light;
    }
    input[type=text] {
      height:38px;
      width:623px;
    }
  }
  


  input[type=radio] {
    -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  }


  .results_area {
    margin-top: 20px;

    .results_title {
      margin-bottom: 20px;
    }

    table {
      font-size: 0.8em;
    }

    .detailButton {
      background-color:$green-light;
    }

    .deleteButton {
      background-color: red;
    }

    .detailButton, .deleteButton {
      &:disabled {
        background-color:$gray-light;
      }
    }
  }

  .form_buttons {
    display: flex;
    form {
      margin-right: 10px;
    }

  }

  
}