@import "variables";

.center_text {
  text-align: center;
}

.table_scroll {
   max-height: 290px; 
   overflow-y: auto;
}

.curation_box {
  background-color:white;
  width:1000px;
  margin: auto;
  padding-left:40px;
  padding-right:40px;
  padding-bottom:40px;

  .space_box {
    height:15px; 
    width:80px;
  }

  .searchbox_area {
    font-size: 0.8em;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: $gray-dark;
    padding-bottom: 20px;

    .search_button {
      height:38px;
      width:38px;
      font-size:1.2em;
    }

    select {
      width: 150px;
      padding-left:10px;
      height:38px;
    }  

    button {
      background-color:$green-light;
      border:none;
      color: white;
    } 

    input[type=text] {
      height:38px;
      width:623px;
    }
  }
  


  input[type=radio] {
    -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  }


  .results_area {
    margin-top: 20px;

    .results_title {
      margin-bottom: 20px;
    }

    .table_backdrop {
      padding: 10px;
      margin: -10px;
      margin-bottom: 20px;
      background-color: $home-backdrop;
    }

    table {
      font-size: 0.8em;
    }

  }

  .form_buttons {
    display: flex;
    form {
      margin-right: 10px;
    }

  }

  
}