@import "variables";

.log_in_box {
  background-color:white;
  min-height: 300px;
  width: 500px;
  margin: 50px auto;
  padding: 25px 0 25px 40px;

  .box_tab {
    height:40px;
    width: 100px;
    background-color:#20ce6f;
    color:white;
    padding-left:22px;
    padding-top:10px;
  }

  .form_box {
    height: auto;
    width:415px;
    border-width:1px;
    border-style:solid;
    padding: 25px 0 25px 0;
    
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    input[type=email] {
      width:325px;
    }

    input[type=password] {
      width:325px;
    }

    .form_buttons {
      display: inline-block;
      background-color: white;
      color:white;
      height:55px;
      margin-left: 50px;
      padding-left:3px;

      .remember_button {

        cursor: pointer;
        color: black;
        display:inline-block;
        height: 36px;
        position: relative;
        left: -57px;
        bottom:2px;
        padding-top: 5px;
        padding-left: 5px;
        font-size: 0.9em;

        label {
          cursor: pointer;
          position: relative;
          right: 5px;
          top: 2px;
        }

        input {
          cursor: pointer;
          position: relative;
          top: 3px;
        }
      }
    }

  }

  .edit_password_box {
    min-height:391px;
    .space_box {
      height:22px;
    }
    .box_tab {
      width: 200px;
    }
    .form_box {
      height:295px;
      .form_buttons {
        margin-top: 3px;
        margin-left: 79px;
      }
      .email_hardcode {
        border-style: solid;
        border-width: 1px;
        border-color: #acadaf;
        max-width: 325px;
        min-height: 40px;
        padding: 7px;
      }
    }
  }

}