.record_show_navigation {
  padding-left: 70px;
  padding-top: 30px;
  font-size: 0.9em;
  background-color: white;
}


.record_show_navigation .outer_flexbox {
    display: -webkit-flex;
    display: flex;
    /*width: 400px;*/
    /*height: 250px;*/
    background-color: white;
    /*font-size: 0.7em;*/
    width: 100%;
    margin-bottom:30px;
    /*height:460px;*/
}

.record_show_navigation .outer_flex_item_left {
    width: 60%;
    /*height: 100px;*/
}

.record_show_navigation .outer_flex_item_right {
    width: 40%;
    /*height: 100px;*/
}

.record_show_navigation .section_container {
  border-right: thin solid #d9d9d9;
  width: 60%;
}

.record_show_navigation .section_container .flex_container {
    display: -webkit-flex;
    display: flex;
    /*width: 400px;*/
    /*height: 250px;*/
    background-color: white;
    font-size: 0.7em;
    width: 100%;
}

.record_show_navigation .section_container .flex_column {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    /*height: 250px;*/
    width:50%;
    /*background-color: lightgrey;*/
}

.record_show_navigation .section_container .flex_item {
    /*background-color: cornflowerblue;*/
    width: 90%;
    /*height: 100px;*/
    /*margin: 10px;*/
    border-bottom: thin solid #d9d9d9;
}


.record_show_navigation .section_header {
  border-bottom: thin solid #d9d9d9;
  width:90%;
}


.bubble {
    display: inline-block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    /*This is to hold the 2 text content for second opinion*/
    padding-left: 5px;
}

/*the unique flag background colors*/
.flag_white {
    background-color: white;
}

.flag_green {
    background-color: green;
}

.flag_yellow {
    background-color: yellow;
}

.flag_red {
    background-color: red;
}

.no_script {
    border: 1px solid #d9d9d9;
    height: 17px;
    width: 17px;
}

.script {
    border: 3px solid #000;
    height: 17px;
    width: 17px;
}



.record_nav {
  height:75px;
  background-color: #d1cdcd;
  padding-top: 25px;
}

.record_nav .nav_button {
  border:none;
  display: inline-block;
  float:left;
  background-color: inherit;

  margin-left:20px;

}

.record_title .complete_buttons {
  margin-right: 5%;
  display: inline-block;
  font-size: 0.9em;
  float:right;
}

.record_title .complete_buttons button {
  padding: 5px;
  width: 150px;
  text-align: left;
}


.record_title .complete_buttons button .button_text{
  display: inline-block;
  text-align: left;
  margin-right: 10px;
}

.record_title .complete_buttons button .button_symbol{
  display: inline-block;
  text-align: right;
}

.record_nav .nav_info {
  display: inline-block;
  font-size: 0.7em;
  margin-right:18%;
  float:right;
}

.record_nav .nav_button .button_symbol {
  display:inline-block;
}


.record_title {
  padding-top: 25px;
  background-color: #e3e1e1;
  height: 75px;
}

.record_title .title_buttons {
  display: inline-block;
  float: right;
  margin-right: 10%;
}

.record_title .title_buttons button {
  width: 110px;
}

.record_title .nav_details {
  float:left;
  display: inline-block;
  font-size: 0.8em;
  margin-left: 46px;
  margin-top: -7px;
}

.section_display {
  padding-top: 15px;
  padding-bottom:15px;
}

.section_display .section_button {
  border:none;
  display: inline-block;
  padding-left: 0px;
  margin-bottom: 5px;
  background-color: inherit;
}


.legend {
  font-size: 0.7em;
}

.legend_title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.legend_flexbox {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    /*background-color: white;*/
    /*width: 20%;*/
}


.legend_flexbox .legend_flex_item {
  height:30px;
}

.legend_flexbox .legend_flex_item .legend_text {
  display: inline-block;
  padding-left: 5px;
  margin-top: -5px;
}

