.toggle_area {
  background-color: white;
  padding-left:46px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.toggle_area .bubble_area {
  display: inline-block;
}

.bubble_title {
  display: inline-block;

}

.bubble_title p {

}

.filter_row p {
  display: inline-block;
  font-size: 0.6em;
}
.filter_row div {
  display: inline-block;
}

.filter_switch {
  border: thin solid #d9d9d9;
  padding-left: 10px;
  padding-right: 10px;
}

.filter_dropdown {
  float: right;
  padding-right: 46px;
}

.filter_select {
  width: 180px;
  background-color: #d9d9d9;

}


.flex_table_container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    padding-left: 46px;
    padding-right: 46px;
    padding-top: 15px;
    /*height: 250px;*/
    background-color: white;
    font-size: 0.8em;
}

.flex_table_container tr:nth-child(1) {
  height:35px;
}

.flex_table_container tr:nth-child(2) {
  height:30px;
}
.flex_table_container tr:nth-child(3) {
  height:60px;
}
.flex_table_container tr:nth-child(3) div{
  max-height:40px;
  overflow: auto;
}
.flex_table_container tr:nth-child(4) {
  height:150px;
}
.flex_table_container tr:nth-child(5) {
  height:150px;
}
.flex_table_container tr:nth-child(5) div {
  max-height:130px;
  overflow: auto;
}

.flex_table_container tr:nth-child(6) {
  height:80px;
}
.flex_table_container tr:nth-child(7) {
  height:80px;
}
.flex_table_container tr:nth-child(8) {
  height:80px;
}
.flex_table_container tr:nth-child(9) {
  height:0px;
}
.flex_table_container tr:nth-child(10) {
  height:80px;
}


.flex_table_fixed {

    width: 800px;
}


.flex_table_container td {
  padding-left: 20px;
  /*padding-top: 10px;
  padding-bottom: 0px;*/
  vertical-align:top;
}


.flex_table_details {
    /*width:80%;*/
    overflow-x: auto;
}




.detail_footer {
  padding-top: 20px;
  padding-left: 46px;
  font-size: 0.7em;
}


.color_code_cell {

}

.form_save_button {
  margin-left: 46px;
  margin-top: 15px;
}

.color_code_select {
  outline:none;border:0px;
}

.flag_flexbox {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /*padding-left: 46px;
    padding-right: 46px;
    padding-top: 15px;*/
    /*height: 250px;*/
    /*background-color: white;*/
    /*font-size: 0.8em;*/
}

.flag_flex_cell {
    /*width:80%;*/
    /*overflow-x: auto;*/
    height:26px;
}

.no_padding {
  padding: 0px 0px 0px 0px !important;
}

.opinion_cell {
  width:100%;
  height:100px;

}


[type="checkbox"] {
  
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;

}

/*code for the toggle sliders*/
/*http://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch*/

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}