.toggle_area {
  background-color: white;
  padding-left:46px;
  padding-top: 10px;
  padding-bottom: 10px;

  .bubble_area {
    display: inline-block;
  }
}


.bubble_title {
  display: inline-block;

  .bubble_second_opinion {
    font-size: 0.6em;
  }

}

.bubble_title p {

}

.filter_row p {
  display: inline-block;
  font-size: 0.6em;
}
.filter_row div {
  display: inline-block;
}

.filter_switch {
  border: thin solid #d9d9d9;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.filter_dropdown {
  float: right;
  padding-right: 62px;
}

.filter_select {
  width: 180px;
  /*background-color: #d9d9d9;*/
  font-size: 0.7em;

}


.flex_table_container {
    /*display: -webkit-flex;
    display: flex;
    width: 100%;
    padding-left: 46px;
    padding-right: 46px;
    padding-top: 15px;
    background-color: white;
    font-size: 0.8em;*/
}


.flex_table_container td {
  padding-left: 20px;
  /*padding-top: 10px;
  padding-bottom: 0px;*/
  vertical-align:top;
}


.flex_table_details {
    /*width:80%;*/
    /*overflow-x: auto;*/
}




.detail_footer {
  padding-top: 20px;
  padding-left: 46px;
  font-size: 0.7em;
}


.form_save_button {
  margin-left: 46px;
  margin-top: 30px;
}

.color_code_select {
  outline:none;border:0px;
}

.flag_flexbox {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /*height: 250px;*/
    /*background-color: white;*/
    /*font-size: 0.8em;*/
}

.flag_flex_cell {
    /*width:80%;*/
    /*overflow-x: auto;*/
    /*height:26px;*/
    
}

.flag_middle_border {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(152,152,152);

  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgb(152,152,152);
}

.flag_flex_text {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
}

.no_padding {
  padding: 0px 0px 0px 0px !important;
}

.opinion_cell {
  width:100%;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}


[type="checkbox"] {
  
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;

}


.scroll_table {
  margin-top: 25px;
  width: 85%;
  overflow-x:scroll;  
  margin-left:17em;
  overflow-y:visible;
  font-size: 0.8em;
  border-right-style: solid;
  border-right-width: 1px;

  .headcol {
    position:absolute;
    width:14em;
    left:3em;
    top:auto;
    height: 200px;
    padding-left: 2em;
  }

  .second_to_final_headcol {
    height: 60px;
  }

  .final_headcol {
    height: inherit;
  }      

  select {
    width: inherit;
  }

  tr div {
    max-height:130px;
    overflow: auto;
  }

  tr td {
    min-width: 200px;
    padding-left: 10px;
  }

  .title_text {
    font-weight: bold;
  }

  textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
  }

  .recommendation_cell {
    background-color: white;
  }

  .flag_icon {
    visibility: hidden;
  }

}


/*code for the toggle sliders*/
/*http://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch*/

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}




/*styled select box*/
/*https://codepen.io/ericrasch/pen/zjDBx*/

.styled-select {
   /*background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;*/
   height: 29px;
   overflow: hidden;
   /*width: 240px;*/
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   /*height: 29px;*/
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 180px;
}


.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}


/* -------------------- Colors: Text */
.slate select   { color: #000; }
.green select   { color: #fff; }
.blue select    { color: #fff; }
.yellow select  { color: #000; }
.black select   { color: #fff; }

