.toggle_area {
  background-color: white;
  padding-left: 46px;
  padding-top: 10px;
  padding-bottom: 10px;

  .bubble_area {
    display: inline-block;
  }
}

.bubble_opinion {
  font-size: 0.7em;
}

.bubble_title {
  display: inline-block;
  margin-bottom: 6px;
  .bubble_title_text {
    position: relative;
    top: 3px;
  }

}

.filter_row p {
  display: inline-block;
  font-size: 0.6em;
}
.filter_row div {
  display: inline-block;
}

.filter_switches {
  display: flex;

  .filter_switch {
    border: thin solid #d9d9d9;
    padding-left: 10px;
    padding-right: 10px;


    label {
      vertical-align: middle;
    }
    p {
      vertical-align: middle;
    }
  }
}



.filter_dropdown {
  float: right;
  padding-right: 62px;
}

.filter_select {
  width: 180px;
  font-size: 0.7em;
}

.flex_table_container td {
  padding-left: 20px;
  vertical-align: top;
}


.detail_footer {
  padding-top: 20px;
  padding-left: 46px;
  font-size: 0.7em;
}


.form_save_button {
  margin-left: 46px;
  margin-top: 30px;
}

.color_code_select {
  outline: none;
  border: 0px;
  width: 100%;
}

.no_padding {
  padding: 0px 0px 0px 0px !important;
}


.scroll_table {
  margin-top: 25px;
  max-width: 85%;
  overflow-x: auto;  
  margin-left: 17em;
  overflow-y: visible;
  font-size: 0.8em;
  border-right-style: solid;
  border-right-width: 1px;

  table {
    width: auto;
  }

  [type="checkbox"] {
  
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;

  }

  .headcol {
    position: absolute;
    width: 14em;
    left: 3em;
    top: auto;
    padding-left: 2em;
    height: 200px;
  }

  .second_to_final_headcol {
    height: 60px;
  }

  .final_headcol {
    height: 76px;
  }

  .headcol_subtitle {
    font-size: 11px;
  }      

  tr div {
    max-height:130px;
    min-height: 19px;
    overflow: auto;
    max-width: 400px;
  }

  tr td {
    min-width: 200px;
    padding-left: 10px;
  }

  .title_text {
    font-weight: bold;
  }

  textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
  }

  .flag_flexbox {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      width: 100%;
      height: 100%;

    div:nth-child(even) {
      border-top: 1px solid rgb(152,152,152);
      border-bottom: 1px solid rgb(152,152,152);
    }
    div:nth-last-child(1) {
      border-bottom-style: none;
    }
  }

  .flag_flex_text {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
  }

  .flag_flex_cell {
    cursor: pointer;

    :hover {
      font-weight: bold;
    }
  }

  .recommendation_cell {
    background-color: white;
  }

  .opinion_cell {
    cursor: pointer;
    width:100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    :hover {
      font-weight: bold;
    }
  }

  .flag_icon {
    visibility: hidden;
  }

  .new_discussion {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color:black;

    textarea {
      background-color:white;
      -webkit-box-shadow: inset 2px 2px 2px 2px #dddddd;
      -moz-box-shadow: inset 2px 2px 2px 2px #dddddd;
      box-shadow: inset 2px 2px 2px 2px #dddddd;
      padding: 5px;
      box-sizing: border-box;
    }


  }



  .discussion_td {
    background-color:white;
    vertical-align: top;
    max-height: 300px;
  }

  .discussion_holder {
    max-height: 350px;
  }

  .discussion_comment {
    background-color: white;

    .discussion_title {
      padding: 5px;
      
      font-size: 0.8em;
      font-weight: bold;
    }

    .discussion_text {
      padding: 0 0 5px 25px;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color:black;
    }
  }

}
