@import "variables";

.review_background {
  background-color: white;
}

.review_table {
  td {
    border-width: 1px;
    border-style: solid;
    border-color: $report-line;
  }
  tr {
      &:nth-child(1), &:nth-child(4), &:nth-child(6), &:nth-child(8) {background: $review-blue-light}
      &:nth-child(10), &:nth-child(14) {background: $review-yellow-dark}
      &:nth-child(13), &:nth-child(15) {background: $review-green-light}
  }
  th {
    background-color: inherit;
  }
}

.toggle_area {
  background-color: white;
  padding-left: 46px;
  padding-top: 10px;
  padding-bottom: 10px;

  .bubble_area {
    display: inline-block;
  }
}

.bubble_opinion {
  font-size: 0.7em;
}

.bubble_title {
  display: inline-block;
  margin-bottom: 6px;
  .bubble_title_text {
    position: relative;
    top: 3px;
  }

}

.filter_row p {
  display: inline-block;
  font-size: 0.6em;
}
.filter_row div {
  display: inline-block;
}

.filter_switches {
  display: flex;

  .filter_switch {
    border: thin solid #d9d9d9;
    padding-left: 10px;
    padding-right: 10px;


    label {
      vertical-align: middle;
    }
    p {
      vertical-align: middle;
    }
  }
}



.filter_dropdown {
  float: right;
  padding-right: 62px;
  i {
    position: relative;
    top: 2px;
  }
}

.filter_select {
  width: 180px;
  font-size: 0.7em;
}

.flex_table_container td {
  padding-left: 20px;
  vertical-align: top;
}


.detail_footer {
  padding-top: 20px;
  padding-left: 46px;
  font-size: 0.7em;
}

.save_button_spacer {
    width: 78%;
    margin-left: 13.7em;
    display: inline-block;
}

.form_save_button {
  display: inline-block;
  margin-left: 46px;
  margin-top: 30px;
  line-height: 0;
  float: right;

  .save_review_text {
    position: relative;
    bottom: 4px;
    margin-right: 4px;
  }

  .save_review_icon {
    color: white;
    font-size: 1.7em;
  }
}

.color_code_select {
  outline: none;
  border: 0px;
  width: 100%;
}

.no_padding {
  padding: 0px 0px 0px 0px !important;
}



.color_red {
  background-color: $review-red;
}
.color_blue {
  background-color: $review-blue;
}
.color_yellow {
  background-color: $review-yellow;
}
.color_green {
  background-color: $review-green;
}

.icon_holder {
  font-size: 1.5em;
}

.review_nav_icon {
  margin-right: 5px;
}



.scroll_table {
  margin-top: 25px;
  width: 78%;
  overflow-x: auto;  
  margin-left: 17.1em;
  overflow-y: visible;
  font-size: 0.8em;
  border-right-style: solid;
  border-right-width: 1px;

  table {
    width: auto;
  }

  [type="checkbox"] {
  
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;

  }

  .headcol {
    position: absolute;
    width: 14em;
    left: 5em;
    top: auto;
    padding-left: 2em;
    height: 200px;
    font-size: 0.9em;
  }

  .first_headcol {
    background-color: white;
    border: none;
  }

  .autolabelcol {
    position: absolute;
    width: 2em;
    left: 3em;
    top: auto;
    background-color: $review-blue-dark;
    height: 200px;
    border: none;
  }

  .inputlabelcol {
    position: absolute;
    width: 2em;
    left: 3em;
    top: auto;
    background-color: $review-gray-dark;
    height: 90px;
    border: none; 
  }

  .input_line_row {
    td, th  {
      background-color: $review-gray-dark;
    }
  }

  .auto_line_row {
    td, th {
      background-color: $review-blue-dark;
    }
  }

  .line_row {
    th {
      border: none;
      position: absolute;
      width: 14em;
      top: auto;
      padding-left: 2em;
      height: 5px;
    }

    td {
      border: none;
      padding: 0px;
      height: 5px;
    }
  }


  .second_to_final_headcol {
    height: 60px;
  }

  .final_headcol {
    height: 76px;
  }

  .headcol_subtitle {
    font-size: 11px;
  }      

  .previous_recommendation_cell {
    min-height: 40px;
  }

  .review_check {
    font-weight: 900;
    font-size: 1.6em;
    margin-top: 2px;
    margin-left: 1px;
    color: $review-gray-dark
  }

  tr div {
    max-height:130px;
    min-height: 19px;
    overflow: auto;
    max-width: 400px;
  }

  tr td {
    &.color_code_cell {
      padding: 0px;

      .height_holder {
        height: 40px;
      }

      .color_code_background {
         padding-top: 6px;
         display: flex;
         flex-direction: row;
         justify-content: center;
      }

      .color_code_button {
        width:40px; 
        height:27px; 
        margin-left: 2px;
        margin-right: 2px;
        border-radius: 15px;
        cursor: pointer;
      }

      .color_code_icon {
        color:white; 
        font-size: 22px; 
        padding-left: 16px; 
        padding-top: 2px;
      }

      .cancel_selection_icon {
        color: white;
        font-size: 20px;
        float: right;
        margin-right: 10px;
        margin-top: 9px;
        cursor: pointer;
      }

    }
    min-width: 200px;
    padding-left: 10px;
  }

  .title_text {
    font-weight: bold;
  }

  textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
  }

  .flag_flexbox {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      width: 100%;
      height: 100%;

    div:nth-child(even) {
      border-top: 1px solid rgb(152,152,152);
      border-bottom: 1px solid rgb(152,152,152);
    }
    div:nth-last-child(1) {
      border-bottom-style: none;
    }
  }

  .flag_flex_text {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
  }

  .flag_flex_cell {
    cursor: pointer;

    :hover {
      font-weight: bold;
    }
  }

  .recommendation_cell {

  }

  .opinion_cell {
    cursor: pointer;
    width:100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    :hover {
      font-weight: bold;
    }
  }

  .flag_icon {
    visibility: hidden;
  }

  .new_discussion {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color:black;

    textarea {
      background-color:white;
      -webkit-box-shadow: inset 2px 2px 2px 2px #dddddd;
      -moz-box-shadow: inset 2px 2px 2px 2px #dddddd;
      box-shadow: inset 2px 2px 2px 2px #dddddd;
      padding: 5px;
      box-sizing: border-box;
    }


  }



  .discussion_td {
    vertical-align: top;
    max-height: 300px;
  }

  .discussion_holder {
    max-height: 350px;
  }

  .discussion_comment {

    .discussion_title {
      padding: 5px;
      
      font-size: 0.8em;
      font-weight: bold;
    }

    .discussion_text {
      padding: 0 0 5px 25px;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color:black;
    }
  }

}
