@import "variables";

.sign_up_box {
  background-color: white;
  height: auto;
  width: 500px;
  margin: 50px auto;
  padding: 25px 0 25px 40px;

  .box_tab {
    height:40px;
    width: 200px;
    background-color:#20ce6f;
    color:white;
    padding-left:22px;
    padding-top:10px;
  }

  .form_box {
    height: auto;
    width: 415px;
    border: 1px solid;
    padding-top: 27px;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    input[type=email] {
      width:325px;
    }

    input[type=password] {
      width:325px;
    }

    .select_container {
      width: 325px;
      margin: 5px 0 15px 0;
    }

    .form_buttons {
      display: inline-block;
      background-color: white;
      color:white;
      height:55px;
      
      .remember_button {
        cursor: pointer;
        color: black;
        display:inline-block;
        height: 36px;
        position: relative;
        padding-left: 5px;
        font-size: 0.9em;

        label {
          cursor: pointer;
          position: relative;
          left: 2px;
          top: 2px;
        }

        input {
          cursor: pointer;
          position: relative;
          left: 4px;
          top: 3px;
        }
      }
    }

  }

}