<tr class="user_input">

  <th class="headcol headcol--discussion headcol__user-row">
    <p>DISCUSSION &amp; JUSTIFICATION</p>
    <p class="headcol_subtitle">(Visible to All)</p>
  </th>

  <% section_titles.each do |title| %>
    <td class="discussion_td column_<%=title%>">
      <div class="discussion_holder">
        <div class="new_discussion">
        <% messages = discussions.select { |discussion| discussion.column_name == title }.sort { |old_comment, new_comment| new_comment.date <=> old_comment.date } %>
        <% messages.each do |message| %>
          <%= render partial: 'edit_delete_comment', locals: { message: message } %>
        <% end %>
        
          <textarea oninput="activateSaveButton()" placeholder="New Comment..." name="discussion[<%= title %>]" form="field_form"></textarea>  
        </div>

      </div>  
    </td>
  <% end %>

</tr>

