<tr class="user_input">

  <th class="headcol headcol--discussion headcol__user-row">
    Feedback Discussion
  </th>

  <% section_titles.each do |title| %>
    <td class="discussion_td column_<%=title%>">
      <div class="discussion_holder">
        <div class="new_discussion">
        <% messages = discussions.select { |discussion| discussion.column_name == title }.sort { |old_comment, new_comment| new_comment.date <=> old_comment.date } %>
        <% messages.each do |message| %>
          <%= render partial: 'edit_delete_comment', locals: { message: message } %>
        <% end %>
        
          <textarea oninput="activateSaveButton()" placeholder="New Comment..." name="feedback_discussion[<%= title %>]" form="field_form"></textarea>  
        </div>

      </div>
    </td>
  <% end %>

</tr>