<tr class="user_input">

  <th class="headcol headcol--discussion headcol__user-row">
    <p>Discussion &amp; Justification</p>
    <p class="headcol_subtitle">(Visible to ARC)</p>
  </th>

  <%= render partial: 'discussion', locals: { section_titles: section_titles, discussion_name: 'discussion', discussions: discussions } %>

</tr>