<!-- legend area -->
  <div class="legend legend_flexbox">
    <div class="legend_title">LEGEND</div>
    
    <div class="legend_flex_row">

      <% if current_user.arc? %>
        <div class="legend_flex_item">
          <div class="bubble flag_white no_script">
            <div style="visibility: hidden;">2</div>
          </div>
          <div class="legend_text">NEEDS REVIEW</div>
        </div>
        <div class="legend_flex_item">
          <div class="bubble flag_white script">
            <div style="visibility: hidden;">2</div>
          </div>
          <div class="legend_text">NEEDS REVIEW, FLAGGED BY SCRIPT</div>
        </div>
        <div class="legend_flex_item">
          <div class="bubble flag_white no_script">2</div>
          <div class="legend_text">2ND OPINION REQUESTED</div>
        </div>
      <% end %>

      <div class="legend_flex_item">
        <div class="bubble flag_white no_script">F</div>
        <div class="legend_text">FEEDBACK REQUESTED</div>
      </div>

    </div>
        
    <div class="legend_flex_row">
      <div class="legend_flex_item">
        <div class="bubble color_green no_script">
          <div style="visibility: hidden;">2</div>
        </div>
        <div class="legend_text">REVIEWED, ELEMENT OK</div>
      </div>
      <div class="legend_flex_item">
        <div class="bubble color_blue no_script">
          <div style="visibility: hidden;">2</div>
        </div>
        <div class="legend_text">REVIEWED, ELEMENT INFORMATION</div>
      </div>
      <div class="legend_flex_item">
        <div class="bubble color_yellow no_script">
          <div style="visibility: hidden;">2</div>
        </div>
        <div class="legend_text">REVIEWED, ELEMENT WARNING</div>
      </div>
      <div class="legend_flex_item">
        <div class="bubble color_red no_script">
          <div style="visibility: hidden;">2</div>
        </div>
        <div class="legend_text">REVIEWED, ELEMENT ERROR</div>
      </div>
      <div class="legend_flex_item">
        <div class="bubble color_gray no_script">
          <div style="visibility: hidden;">2</div>
        </div>
        <div class="legend_text">NO RECOMMENDATION</div>
      </div>
    </div>
    <div class="legend_flex_row">
      <div class="legend_flex_item">
        <i class="fa fa-asterisk controlled_icon tooltip"></i>
        <div class="legend_text">SPECIFIC VOCABULARY REQUIRED</div>
      </div>
    </div>
  </div>
