<!-- legend area -->
  <div class="legend legend_flexbox">
    <div class="legend_title">LEGEND</div>
    <div class="legend_flex_item">
      <div class="bubble flag_white no_script"></div>
      <div class="legend_text">NEEDS REVIEW</div>
    </div>
    <div class="legend_flex_item">
      <div class="bubble flag_white script"></div>
      <div class="legend_text">NEEDS REVIEW, FLAGGED BY SCRIPT</div>
    </div>
    <div class="legend_flex_item">
      <div class="bubble flag_white no_script">2</div>
      <div class="legend_text">2ND OPINION REQUESTED</div>
    </div>
    <div class="legend_flex_item">
      <div class="bubble flag_yellow no_script"></div>
      <div class="legend_text">REVIEWED, COLOR CODED</div>
    </div>
  </div>