<nav class="record_nav">
  <button class="nav_button">
    <!-- arrow link -->
    <i class="eui-icon eui-fa-arrow-circle-left button_symbol"></i>
    <% if page == "navigation" %>
      MAIN MENU
    <% else %>
      BACK TO METADATA FIELDS
    <% end %>
  </button>

  

  <div class="nav_info">
    <p>REVIEWER: X</p>
    <p>Last Updated: X</p>
  </div>
</nav>