<nav>
  <button>
    <!-- arrow link -->
    <div></div>
    <% if page == "navigation" %>
      MAIN MENU
    <% else %>
      BACK TO COLLECTION LIST
    <% end %>
  </button>

  <!-- review complete button -->
  <button type="button">REVIEW COMPLETE</button>
  <!-- close record button -->
  <button type="button">CLOSE RECORD</button>    

  <div>
    <p>REVIEWER: X</p>
    <p>Last Updated: X</p>
  </div>
</nav>


<!-- record title and info -->
<div>
  <div>
    <p>LONG NAME: </p>
    <p>SHORT NAME: </p>
  </div>

  <button type="button">PREVIOUS</button>

  <button type="button">NEXT</button>    
</div>