<!-- record title and info -->
<div class="record_title">
  <div class="nav_details">
    <p><strong>LONG NAME: </strong></p>
    <p>SHORT NAME: </p>
  </div>

  <div class="title_buttons">
    <button type="button" class="eui-btn eui-btn--round eui-btn--sm">
      <i class="eui-icon eui-fa-arrow-circle-left button_symbol"></i>
      PREVIOUS
    </button>
    <button type="button" class="eui-btn eui-btn--round eui-btn--sm">
      NEXT
      <i class="eui-icon eui-fa-arrow-circle-right button_symbol"></i>
    </button>    
  </div>
</div>