<%= render(partial: 'navbar', locals: {page: "review"}) %>

<%= render(partial: 'record_title') %>

<!-- bubbles and drop down navigation -->
<div>
  <div>
    METADATA INFORMATION
  </div>
  <!-- bubbles -->
  <div>
    
  </div>

  <div>
    SAVE AND GO TO: 
    <select>
      
    </select>  
  </div>

</div>

<!-- slider toggles -->
<div>
  <div>AUTOMATED REVIEW</div>
  <div>REQUIRES SECOND OPINION</div>
  <div>RECOMMENDATIONS</div>
</div>

<!-- Data/review area -->
<section>
  
  <!-- row title information -->
  <div>
    <table>
      <tr>
        <td>TITLE</td>
      </tr>
      <tr>
        <td>Current Value</td>
      </tr>
      <tr>
        <td>Initial Value</td>
      </tr>
    </table>

    <table>
      <tr>
        <td>
          Automated Script Result
        </td>
      </tr>
    </table>
    

    <table>
      <tr>
        <td>
          Flags
        </td>
      </tr>
      <tr>
        <td>
          Color Code
        </td>
      </tr>
      <tr>
        <td>
          Recommendation
        </td>
      </tr>
      <tr>
        <td>
          Discussion
        </td>
      </tr>
    </table>    
  </div>

  <!-- horizontal scroll information -->
  <div>
    <table>
      <tr>
        <!-- for each of shown value list, create td for value -->
        <td>TITLE</td>
      </tr>
      <tr>
        <td>Current Value</td>
      </tr>
      <tr>
        <td>Initial Value</td>
      </tr>
    </table>

    <table>
      <tr>
        <td>
          Automated Script Result
        </td>
      </tr>
    </table>
    
    <table>
      <tr>
        <td>
          Flags
        </td>
      </tr>
      <tr>
        <td>
          Color Code
        </td>
      </tr>
      <tr>
        <td>
          Recommendation
        </td>
      </tr>
      <tr>
        <td>
          Discussion
        </td>
      </tr>
    </table>    
  </div>

</section>