
<%= render(partial: 'shared/navigation', locals: {title: "REPORTS HOME PAGE"}) %>
<script type="text/javascript">
  document.getElementsByClassName("header_image")[0].style.display = "none";
</script>

<div style="display:flex;">
  <div>




      <table style="width:100%; padding:5px;">
          <tr>
            <td>Total Collections in CMR:</td> 
            <td><%=@cmr_total_collection_count%></td>  
          </tr>
          <tr>
            <td>Total Ingested Collections:</td>
            <td><%=@collection_ingest_count%></td>
          </tr>
      </table>

  </div>
</div>